body{
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/wp2406619.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-size: 100px;
    color: rgb(64, 174, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top : 100px;
}
#screen{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    font-size: 80px;
    text-align: center;
    color: rgb(254, 4, 4);
    margin: auto;
    padding: auto;
    margin-top: 50px;
    border: 2px solid rgb(0,0,0);
}
#guess{
    margin-top : 30px;
    height: 50px;
    width: 100px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    color: rgb(254, 4, 4);
    border: 2px solid rgb(0,0,0);
}
.label{
    color:rgb(12, 254, 4);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: auto;
}
.button{
    color: rgb(12, 254, 4);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    margin-left: 20px;
    margin-top: 10px;
}
.button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 254, 4);
}
.button:active{
    color: rgb(254, 4, 4);
    background-color: rgb(255, 255, 255);
}